.todoList{
    width: 100%;
    height: auto;
}

.itemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.9rem;
}

.toggle{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 80%;
    margin-right: 20px;
}

.todoText{
    margin-bottom: 0;
    margin-right: 20px;
    display: flex;
    font-size: 1.5rem;
    flex-grow: 2;
}

.colorCode{
    max-width: 20%;
    margin-bottom: 0;
    margin-right: 20px;
}
.deleteIcon{
    width: 30px;
    height: 30px;
    margin: 5px 0px;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
  